*.apk
*.aab
*.csproj
*.sln
*.sln.DotSettings.user
*_ButDontShipItWithYourGame
*_DoNotShip
.idea
.utmp
.vs
.DS_Store
obj
Assets/Packages/com.teamsirenix.odin*
BuildReports*
Build
Library
Logs
Packages/packages-lock.json
Temp
UserSettings